<h1>
	Welcome, <span id="role"><</span> <span id="firstname"></span> <span
		id="lastname"></span>!
</h1>
<h4 id="bio"></h4>

<h1>Submit a new Reimbursement Request Below</h1>
<hr>

<div class="formgroup">
	<label for="authorfirst">Requester First Name</label> <input
		type="text" id="authorfirst" class="form-control col-6" readonly>
	<label for="authorlast">Requester Last Name</label> <input type="text"
		id="authorlast" class="form-control col-6" readonly> <small
		id="emailHelp" class="form-text text-muted">Pre-populated from
		User Profile.</small>
</div>

<div class="formgroup">
	<label for="amount">Reimbursement Amount</label> <input type="number"
		value=100 min="0" max="10000" id="amount" step="0.01"
		class="form-control col-6" required> <label for="description">Reimbursement
		Description</label>
	<textarea class="form-control" id="description"
		class="form-control col-6" required></textarea>
	<label for="type">Reimbursement Type</label> <select
		class="selectpicker show-tick" id="type" data-style="btn btn-info">
		<option>Lodging</option>
		<option>Travel</option>
		<option>Food</option>
		<option>Other</option>
	</select>
</div>


<button class="btn btn-warning" id="request"
	onclick="sendReimb(); this.disabled=true;">Submit Request</button>
<span id="message"></span>
<hr>

<h1>Your Reimbursement Requests:</h1>
<table class="table table-bordered" id="userTable">
</table>
<button class="btn btn-warning" id="refresh" >Refresh
	Table</button>
<!-- 
public Reimbursement(int id, long amount, Timestamp submittedTime, Timestamp resolvedTime, String description,
			String author, String resolver, String status, String type)  -->

