<h1>Welcome to Employee Reimbursement System</h1>
<hr>

<div class="login-form">
	<div class="container" style="border: 1px solid #cecece;">
		<div class="form-group">
		
			<h2 class="text-center">Member Login</h2>
			<label for="username">Username:</label> <input type="text"
				id="username" placeholder="Username" class="form-control col-6">
			<label for="password">Password:</label> <input type="password"
				id="password" placeholder="Password" class="form-control col-6">

			<button class="btn btn-warning" id="login">Log in!</button>
		</div>
	</div>
</div>

<span id="message"></span>

